charset utf-8;
error_log  /var/log/nginx/error.log error;

server {
  listen 80 default_server;
  server_name groupeat.dev;

  location / {
    root /home/vagrant/showcase/current/dist;
    index index.html;
    error_page 404 /404.html;
    access_log /var/log/nginx/access-showcase.log;
  }

  location /api/ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /home/vagrant/api/current/public/index.php;
    fastcgi_param SCRIPT_NAME /index.php;
    fastcgi_intercept_errors off;
    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS' always;
    add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Authorization, X-Request-With, Keep-Alive, User-Agent' always;
    access_log /var/log/nginx/access-api.log;
  }

  location /__clockwork {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /home/vagrant/api/current/public/index.php;
    fastcgi_param SCRIPT_NAME /index.php;
    fastcgi_intercept_errors off;
  }

  location /db {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /home/vagrant/api/current/storage/app/adminer.php;
    fastcgi_intercept_errors off;
    access_log /var/log/nginx/access-adminer.log;
  }

  location /adminer.css {
    alias /home/vagrant/api/current/storage/app/adminer.css;
  }

  location /favicon.ico {
    access_log off;
    log_not_found on;
  }
}

server {
  listen 80;
  server_name app.groupeat.dev;
  root /home/vagrant/app/current/dist;
  try_files $uri /index.html;
  access_log /var/log/nginx/access-app.log;

  location /robots.txt  {
    access_log off;
    log_not_found on;
  }

  location /favicon.ico {
    access_log off;
    log_not_found on;
  }
}
