DEBUG={{ 'true' if env == 'staging' else 'false' }}
APP_ENV={{ env }}
BASE_URL=https://{{ inventory_hostname }}/api
APP_KEY={{ app_key }}
SLACK_BROADCASTING_ENABLED={{ 'false' if env == 'staging' else 'true' }}
PGSQL_PASSWORD={{ staging_pgsql_password if env == 'staging' else production_pgsql_password }}
DEFAULT_ADMIN_PASSWORD={{ staging_default_admin_password if env == 'staging' else production_default_admin_password }}
MAIL_DRIVER=smtp
NOTIFICATIONS_ENABLED=true
GCM_KEY={{ gcm_key }}
APNS_CERTIFICATE_PASSPHRASE={{ apns_certificate_passphrase }}
S3_KEY={{ s3_key }}
S3_SECRET={{ s3_secret }}
MESSAGING_ENABLED={{ 'false' if env == 'staging' else 'true' }}
NEXMO_KEY={{ nexmo_key }}
NEXMO_SECRET={{ nexmo_secret }}
