export ZSH=$HOME/.oh-my-zsh

ZSH_THEME=ys
DISABLE_UPDATE_PROMPT=true

plugins=(colored-man colorize common-aliases dircycle git jump supervisor)

export PATH=$HOME/bin:/usr/local/bin:$PATH

source $ZSH/oh-my-zsh.sh

alias ..='cd ..'
alias ...='cd ../..'
alias h='cd ~'
alias c='clear'
alias ccat="colorize"
